.github/**
.history/**
.markdownlintrc
.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
test/**
build/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
build.sh
**/*.map
**/tsconfig.json
**/.gitignore
**/.eslintignore
**/.eslintrc.js
webpack.config.js
